@import 'normalize.css';
@import '../node_modules/highlight.js/styles/hybrid.css';
@import './mixins';
@import './base';

@import './components/Contents';
@import './components/Footer';
@import './components/Ideyuta';
@import './components/Markdown';

.Index {
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  margin: 2% auto;
  width: 96%;
  word-break: break-all;
  @media(--phoneSmall) {
    border-width: 0;
  }
}
.PageTitle {
  @mixin Headline;
  margin: 0 auto;
  max-width: 560px;
  padding-top: 80px;
}
