@import 'normalize.css';
@import '../node_modules/highlight.js/styles/hybrid.css';
@import './mixins';
@import './base';

@import './components/Contents';
@import './components/Footer';
@import './components/Ideyuta';
@import './components/Markdown';

.PageTitle {
  @mixin Headline;
  margin: 0 auto;
  max-width: 560px;
  padding: 80px 20px 0 20px;
}
