@import 'normalize.css';
@import '../node_modules/highlight.js/styles/hybrid.css';
@import './mixins';
@import './base';

@import './components/Contents';
@import './components/Footer';
@import './components/Ideyuta';

.Index {
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  margin: 2% auto;
  width: 96%;
  @media(--phoneSmall) {
    border-width: 0;
  }
}
