.Contents {
  margin: 0 auto;
  max-width: 560px;
  padding: 0 20px;
  & .twitter-tweet {
    margin: 0 auto;
  }
  &_body {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.9em;
    margin: 24px 0;
  }
  &_headline {
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 80px;
  }
  &_spacer {
    height: 48px;
  }
  & img {
    max-width: 100%;
  }
  & .Credit {
    background: #ccc;
  }
}
