.Markdown {
  background: #fff;
  margin: 0 auto;
  max-width: 560px;
  padding: 80px 20px;
  & strong {
    font-weight: 600;
  }
  & h1 {
    @mixin Headline;
  }
  & h2 {
    @mixin Title;
    font-weight: 600;
    margin-top: 3em;
  }
  & h3 {
    @mixin Body;
    font-weight: 600;
  }
  & img {
    display: block;
    margin: 0 auto;
    max-height: 600px;
    max-width: 100%;
  }
  & p {
    @mixin Body;
    margin: 24px 0;
  }
  & ul, & ol {
    @mixin Body;
  }

  & .Caption {
    @mixin Caption;
    color: var(--gray500);
    text-align: center;
  }

  & .Credit {
    border: 1px solid var(--gray800);
    border-width: 2px 0;
    margin: 32px 0;
    padding: 0 8px;
    & h4 {
      @mixin Caption;
      font-weight: 600;
    }
    & ul {
      @mixin Caption;
      list-style: none;
      padding: 0;
    }
  }
  & .Youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    & iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

