
<div class="Pagination {% if page.previous.url %}{% if page.next.url %}_between{% endif %}{% endif %}">{% if page.previous.url %}
  <div class="paginate _previous">
    <div class="arrow"><span>&laquo;</span></div>
    <div class="title"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></div>
  </div>{% endif %}
  {% if page.next.url %}
  <div class="paginate _next">
    <div class="title"><a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></div>
    <div class="arrow"><span>&raquo;</span></div>
  </div>{% endif %}
</div>