html
  head
    block head 
      meta(charset="utf=8")
      meta(content="ideyuta", name="author")
      meta(content="IE=Edge", http-equiv="X-UA-Compatible")
      meta(content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", name="viewport")
      block title
      link(rel="stylesheet", href="css/base.css")
      block meta
body
  .Wrapper
    .Container._GlobalHeader
      .inner
        .titleContainer
          h1.title: a(href="/") ideyuta.github.io
        .GlobalNav
          ul
            li.nav: a.btn.f.sm(href="/blog/") Blog
            li.nav: a.btn.f.sm(href="/work/") Work
            li.nav: a.btn.f.sm(href="/profile/") Profile
    block content
    .Container._GlobalFooter
      .inner
        .copyright
          p © 2014 ideyuta.github.io
