extends ../_base.jade

block bg

block content
  .Container._Works
    .inner
      .Works
        .Loader
        .item
          a(href="/works/design/maito.html")
            p.title(href="/works/design/maito.html") Maito
            .data
              span 2013-14
              span Web
            img(src="/img/works/design/maito/website.jpg") 
        .item
          a(href="/works/design/kanmuclolp.html")
            p.title(href="/works/design/kanmuclolp.html") Kanmu CLO ランディングページ
            .data
              span 2013
              span Web
            img(src="/img/works/design/kanmuclolp/overview01.jpg") 
        .item
          a(href="/works/design/cookixd.html")
            p.title(href="/works/design/cookixd.html") 料理におけるインタラクションデザイン
            .data
              span 2012-13
              span 論文、インタラクティブ・デバイス
            img(src="/img/works/design/cookixd/overview01.jpg") 
        .item 
          a(href="/works/design/taumex13.html")
            p.title(href="/works/design/taumex13.html") 多摩美術大学大学院修士制作展2013
            .data
              span 2013
              span Web
            img(src="/img/works/design/taumex13/website.jpg") 
        .item
          a(href="/works/design/babelshortfilms.html")
            p.title(href="/works/design/babelshortfilms.html") BABEL SHORT FILMS
            .data
              span 2012
              span フライヤー
            img(src="/img/works/design/babelshortfilms/front.jpg") 
        .item
          a(href="/works/design/taumex12.html")
            p.title(href="/works/design/taumex12.html") 多摩美術大学大学院修士制作展2012
            .data
              span 2012
              span Web
            img(src="/img/works/design/taumex12/website01.jpg") 
        .item
          a(href="/works/design/rebirthword.html")
            p.title(href="/works/design/rebirthword.html") Rebirth Word
            .data
              span 2011
              span 玩具
            img(src="/img/works/design/rebirthword/overview01.jpg") 
        .item
          a(href="/works/design/yusedesign.html")
            p.title(href="/works/design/yusedesign.html") YUSE DESIGN
            .data
              span 2011
              span Web
            img(src="/img/works/design/yusedesign/global.jpg") 
        .item
          a(href="/works/art/timemachine.html")
            p.title(href="/works/art/timemachine.html") TIME MACHINE
            .data
              span 2011
              span インタラクティブ・アート
            img(src="/img/works/art/timemachine/overview01.jpg") 
        .item
          a(href="/works/design/junction.html")
            p.title(href="/works/design/junction.html") JUNCTION
            .data
              span 2011
              span フライヤー
            img(src="/img/works/design/junction/overview01.jpg") 
        .item
          a(href="/works/art/yui.html")
            p.title(href="/works/art/yui.html") 結
            .data
              span 2010
              span インタラクティブ・デバイス
            img(src="/img/works/art/yui/overview01.jpg") 
        .item
          a(href="/works/design/slowland.html")
            p.title(href="/works/design/slowland.html") SLOW LAND
            .data
              span 2010
              span フライヤー
            img(src="/img/works/design/slowland/front.jpg") 
        .item
          a(href="/works/art/rokunihachi.html")
            p.title(href="/works/art/rokunihachi.html") 628.
            .data
              span 2009
              span インタラクティブ・アート
            img(src="/img/works/art/rokunihachi/main.jpg") 
        .item
          a(href="/works/art/ashiotorythem.html")
            p.title(href="/works/art/ashiotorythem.html") あしおとリズム
            .data
              span 2009
              span インタラクティブ・アート
            img(src="/img/works/art/ashiotorythem/main.jpg") 
        .item
          a(href="/works/art/kasasasu.html")
            p.title(href="/works/art/kasasasu.html") かささす
            .data
              span 2008
              span インタラクティブ・アート
            img(src="/img/works/art/kasasasu/main.jpg") 
