extends ../_layouts/default.jade

block bg
  .BG
    .ProfileImg
    .data1
      p 国宝 瑞巌寺
    .data2
      p 井出 優太
    .data3
      p 2014. 08. 22

block content
  .Container._Content
    .inner
      .Profile
        .bio
          h2 井出 優太
          ul
            li: p 1988　静岡県生まれ
            li: p 多摩美術大学大学院 情報デザイン領域 修了
          p 大学院修了後、フリーランスとしての活動を経て株式会社カンムに2人目のメンバーとして参加。サービス全体のデザインからフロントの開発までを行っている。
        .social
          a(href="https://twitter.com/_ideyuta"): img.icon(src="/img/thirdparty/Twitter_logo_blue_64.png")
          a(href="https://www.facebook.com/XA2007.055"): img.icon(src="/img/thirdparty/FB-f-Logo__blue_64.png")
          a(href="https://github.com/ideyuta"): img.icon(src="/img/thirdparty/GitHub-Mark-64px.png")
