html, body {
  background: #fff;
  color: #333;
  font-family: 'YakuHanJP', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Droid Sans", Verdana, Arial,  "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-feature-settings : "pkna" 1;
  font-size: 16px;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 420px) {
  html {
    font-size: 18px;
    letter-spacing: 0.08em;
  }
}

a:link {
  color: #0066ff;
}
a:visited {
  color: #0066ff;
}
a:hover {
  color: #0066ff;
}
a:active {
  color: #0066ff;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.45em;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.0em 0 0 0;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1.0em 0 0 0;
}

h4 {
  font-size: 0.875rem;
  font-weight: 600;
}

hr {
  background: #e9e9e9;
  border: 0;
  height: 1px;
  margin: 32px 0;
}

blockquote {
  border-left: 4px solid #ddd;
  color: #959595;
  margin: 20px 0;
  padding: 0 0 0 16px;
}

blockquote a {
  color: #959595 !important;
  border-color: #959559 !important;
}
blockquote a:hover {
  border-color: #0066ff !important;
  color: #0066ff !important;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 3px;
}
.post img {
  margin: 20px auto 0 auto;
}

.img_w_border {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

code {
  border: 0 !important;
  font-size: 0.75rem !important;
}

a {
  font-size: 0.875rem;
  line-height: 1.5em;
}

p, ul, ol, li {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.7em;
}

.post li {
  padding: 4px 0;
}

.post ul, .post ol {
  padding: 0 0 0 20px;
}

.post a {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
}

.post a:link {
  color: #333;
}
.post a:visited {
  color: #333;
}
.post a:hover {
  color: #0066ff;
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
}
.post a:active {
  color: #333;
}

pre {
  background: #000;
  border: 0 !important;
  color: #fff;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  padding: 24px;
  white-space: pre-wrap;
}

.twitter-tweet {
  margin: 36px auto;
}

.Caption {
  color: #959595;
  text-align: center;
  margin-bottom: 20px;
  a {
    color: #959595;
  }
}
.Caption a {
  color: #959595 !important;
  border-color: #959595 !important;
}

.Caption a:hover {
  color: #0066ff !important;
  border-color: #0066ff !important;
}


@keyframes fadein {
  0% {
     opacity: 0
  }
  100% {
     opacity: 1
  }
}
