.Title {
  padding: 4px;
  float: left;
  .ideyuta { fill: $black; }
}

.GlobalNav {
  .nav {
    height: 48px;
    float: left;
    .btn {
      @include typo($default-font-size, $black, 700,48px);
      @include border-radius(0);
      padding: 0 24px;
      height: 48px;
    }
  }
}
