.Lthumb {
  a {
    &:hover {
      .thumb {
        img {
          @include opacity(.96);
        }
      }
    }
  }

  &.L1 {
    .thumb {
      @include size(62%, 481px);
      float: left;
      overflow: hidden;
      img {
        @include pos(relative, 50%);
        @include size(auto);
        max-width: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .content {
      @include size(38%, 481px);
      float: right;
      > .inner {
        padding: 16px;
        position: absolute;
        bottom: 0;
      }
      .title {
        @include typo(32px, $black, 300, 1.6);
        letter-spacing: .04em;
        padding: 16px 0;
      }
      .description {
        @include typo(16px, $gray, 100, 1.6);
        letter-spacing: .04em;
        padding: 0 0 16px 0;
      }
    }
    .data {
      @include size(100%, 32px);
      span {
        @include typo($default-font-size - 1px, $gray, 100, 1.4);
        padding: 0 8px 0 0;
        text-transform: capitalize;
      }
    }
  }
  
  &.L2,
  &.L3,
  &.L4 {
    .thumb {
      @include size(100%, 180px);
      overflow: hidden;
      img {
        @include pos(relative, 50%);
        @include size(auto);
        max-width: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .content {
      @include size(100%, 180px);
      overflow: hidden;
      position: relative;
      .title {
        @include typo(20px, $black, 300, 1.6);
        letter-spacing: .04em;
        padding: 4px 0;
      }
      .description {
        @include typo(14px, $gray, 100, 1.6);
        max-height: 100px;
        overflow: hidden;
        letter-spacing: .04em;
        padding: 0 0 8px 0;
      }
    }
    .data {
      @include size(auto, 20px);
      @include pos(absolute, null, 0, 0);
      background: $white;
      span {
        @include typo(11px, $gray, 100, 1.4);
        padding: 0 8px 0 0;
        text-transform: capitalize;
      }
    }
  }
  
  &.L5,
  &.L6 {
    .thumb {
      @include size(100%, 150px);
      overflow: hidden;
      img {
        @include pos(relative, 50%);
        @include size(auto);
        max-width: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .content {
      @include size(100%, 150px);
      overflow: hidden;
      position: relative;
      .title {
        @include typo(20px, $black, 300, 1.6);
        letter-spacing: .04em;
        padding: 4px 0;
      }
      .description {
        @include typo(14px, $gray, 100, 1.6);
        max-height: 100px;
        overflow: hidden;
        letter-spacing: .04em;
        padding: 0 0 8px 0;
      }
    }
    .data {
      @include size(auto, 20px);
      @include pos(absolute, null, 0, 0);
      background: $white;
      span {
        @include typo(11px, $gray, 100, 1.4);
        padding: 0 8px 0 0;
        text-transform: capitalize;
      }
    }

  }

}
