.Post {
  @include border(1px, solid, darken($extra-light-gray, 4%), 4px);
  width: 100%;
  background: $white;

  .Meta {
    @include border(1px 0, solid, $extra-light-gray);
    padding: 64px 72px 48px 72px;

    > .title {
      @include typo(32px, $black, 100, 1.4);
      padding: 0 0 24px 0;
    }
    
    .data {
      @include clearfix;
      li {
        @include typo($default-font-size, $black, 400, 1.4);
        padding: 0 8px 0 0;
        float: left;
        text-transform: capitalize;
      }
    }
  }
  
  .content {
    padding: 40px 80px;
    word-wrap: break-word;
    @include typo(16px, $black, 500, 1.85);
  
    h2 {
      @include typo_headline;
      padding: 56px 0 24px 0;
      font-weight: 700;
      color: $black;
    }
    h3 {
      @include typo_subtitle;
      padding: 32px 0 0 0;
      font-weight: 700;
      color: $black;
    }
    h4 {
      padding: 16px 0 0 0;
      font-weight: 700;
      color: $black;
    }
    p { clear: both; }
    ul {
      padding: 8px 0 8px 24px;
      li {
        list-style: disc;
        > ul {
          padding: 8px 0 8px 24px;
          li { list-style: circle; }
        }
      }
    }
    img {
      @include space(16px 0, 0 auto);
      max-width: 100%;
      display: block;
    }
    blockquote {
      @include typo($default-font-size, $gray, 300);
      padding: 32px;
    }
  }

}
