.RecentPosts {
  @include clearfix;
  @include border(1px, solid, darken($extra-light-gray, 4%), $default-radius);
  padding: 8px 16px;
  margin: 0 0 16px 0;
  background: $white;  

  > .title {
    font-size: 15px;
    font-weight: 700;
    padding: 0 0 8px 0;
  }

  .recentPost {
    padding: 0 8px 8px 0;
    .date {
      @include typo($default-font-size - 2px, $gray, 300, 1.4);
    }
    .title {
      display: block;
      font-size: $default-font-size;
      font-weight: 300;
    }
  }

  .btn._more {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

}
