.Works {
  @include clearfix;
  width: 100%;
  min-height: 300px;
  padding: 24px 0;
  float: right;
  background: $extra-light-gray;
  .item {
    @include clearfix;
    @include size(200px, auto);
    padding: 0 0 8px 16px;
    display: none;
    a {
      @include border(2px, solid, $white, $default-radius);
      padding: 8px;
      display: block;
      background: $white;
      text-decoration: none;
      &:hover {
        border-color: $blue;
      }
    }
    img { max-width: 100%; }
    .title {
      @include typo(13px, $black, 500, 1.4);
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    .data {
      padding: 0 0 4px 0;
      span {
        @include typo($default-font-size - 2px, $gray, 300, 1.4);
        padding: 0 8px 0 0;
      }
    }
  }
}
