extends ../_layouts/default.jade

block bg

block content
  .Container._Content
    .inner
      .PostList

        ul
          li
            a.title(href="/work/design/maito.html") Maito
            span 2013-14
            span Web
            a(href="/work/design/maito.html"): img(src="/img/works/design/maito/global.jpg") 
          li
            a.title(href="/work/design/kanmuclolp.html") Kanmu CLO ランディングページ
            span 2013
            span Web
            a(href="/work/design/kanmuclolp.html"): img(src="/img/works/design/kanmuclolp/global.jpg") 
          li
            a.title(href="/work/design/cookixd.html") 料理におけるインタラクションデザイン
            span 2012-13
            span 論文、インタラクティブ・デバイス
            a(href="/work/design/cookixd.html"): img(src="/img/works/design/cookixd/global.jpg") 
          li
            a.title(href="/work/design/taumex13.html") 多摩美術大学大学院修士制作展2013
            span 2013
            span Web
            a(href="/work/design/taumex13.html"): img(src="/img/works/design/taumex13/global.jpg") 
          li
            a.title(href="/work/design/babelshortfilms.html") BABEL SHORT FILMS
            span 2012
            span フライヤー
            a(href="/work/design/babelshortfilms.html"): img(src="/img/works/design/babelshortfilms/global.jpg") 
          li
            a.title(href="/work/design/taumex12.html") 多摩美術大学大学院修士制作展2012
            span 2012
            span Web
            a(href="/work/design/taumex12.html"): img(src="/img/works/design/taumex12/global.jpg") 
          li
            a.title(href="/work/design/rebirthword.html") Rebirth Word
            span 2011
            span 玩具
            a(href="/work/design/rebirthword.html"): img(src="/img/works/design/rebirthword/global.jpg") 
          li
            a.title(href="/work/design/yusedesign.html") YUSE DESIGN
            span 2011
            span Web
            a(href="/work/design/yusedesign.html"): img(src="/img/works/design/yusedesign/global.jpg") 
          li
            a.title(href="/work/art/timemachine.html") TIME MACHINE
            span 2011
            span インタラクティブ・アート
            a(href="/work/art/timemachine.html"): img(src="/img/works/art/timemachine/global.jpg") 
          li
            a.title(href="/work/design/junction.html") JUNCTION
            span 2011
            span フライヤー
            a(href="/work/design/junction.html"): img(src="/img/works/design/junction/global.jpg") 
          li
            a.title(href="/work/art/yui.html") 結
            span 2010
            span インタラクティブ・デバイス
            a(href="/work/art/yui.html"): img(src="/img/works/art/yui/global.jpg") 
          li
            a.title(href="/work/design/slowland.html") SLOW LAND
            span 2010
            span フライヤー
            a(href="/work/design/slowland.html"): img(src="/img/works/design/slowland/global.jpg") 
          li
            a.title(href="/work/art/rokunihachi.html") 628.
            span 2009
            span インタラクティブ・アート
            a(href="/work/art/rokunihachi.html"): img(src="/img/works/art/rokunihachi/global.jpg") 
          li
            a.title(href="/work/art/ashiotorythem.html") あしおとリズム
            span 2009
            span インタラクティブ・アート
            a(href="/work/art/ashiotorythem.html"): img(src="/img/works/art/ashiotorythem/global.jpg") 
          li
            a.title(href="/work/art/kasasasu.html") かささす
            span 2008
            span インタラクティブ・アート
            a(href="/work/art/kasasasu.html"): img(src="/img/works/art/kasasasu/global.jpg") 
