
//-------------------------------
// Back Ground
//-------------------------------

.BG {
  .ProfileImg {
    @include z(0);
    min-height: 600px;
    background-image: url("/img/ideyuta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  %data {
    @include border(0 0 1px 0, solid, $white);
    z-index: 1;
    width: 16%;
    margin: 0 auto;
    p {
      font-size: 10px;
      color: $white;
    }
  }
  .data1 {
    @extend %data;
    @include pos(absolute, 180px, 34%);
  }
  .data2 {
    @extend %data;
    @include pos(absolute, 360px, 55%);
    p { text-align: right; }
  }
  .data3 {
    @extend %data;
    @include pos(absolute, 20px, null, null, 20px);
    width: auto;
  }
}

//-------------------------------
// Global Header
//-------------------------------

.GlobalHeader {
  .title {
    .ideyuta { fill: #369; }
  }
}

.BG + .GlobalHeader {
  .title {
    .ideyuta { fill: #fff; }
  }
}

//-------------------------------
// Global Navgation
//-------------------------------

.GlobalNav {
  .nav {
    padding: 0 10px;
    display: inline-block;
  }
}

.BG + .GlobalHeader + .GlobalNav {
  .nav {
    .btn {
      color: $white;
      &:hover { color: $theme-color; }
    } 
  }
}

//-------------------------------
// Post List
//-------------------------------

.PostList {
  li { padding: 8px 0; }
  .title {
    font-family: $serif;
    color: $light-black;
    text-decoration: none;
    font-weight: 300;
    line-height: 1.4;
    &:hover { text-decoration: underline; }
  }
  span {
    padding: 0 0 0 16px;
    text-transform: capitalize;
    color: $gray;
  }
}

//-------------------------------
// Post
//-------------------------------

.Post {
  .title {
    @include typo_headline;
    padding: 0 0 20px 0;
    font-family: $serif;
    font-weight: 300;
    line-height: 1.4;
  }
  .meta {
    @include clearfix;
    @include border(0 0 1px 0, solid, $light-black);
    li {
      padding: 0 16px 0 0;
      float: left;
      text-transform: capitalize;
    }
  }
  .content {
    @include typo_body2;
    color: $light-black;
    padding: 32px 0;
    word-wrap: break-word;

    h2 {
      @include typo_headline;
      padding: 48px 0 16px 0;
      font-weight: 700;
    }
    h3 {
      @include typo_title;
      padding: 16px 0;
      font-weight: 700;
    }
    h4 {
      @include typo_body2;
      padding: 8px 0;
      color: $light-black;
      font-weight: 700;
    }

    p { clear: both; }
  
    ul {
      padding: 8px 0 8px 24px;
      li {
        list-style: disc;
        > ul {
          padding: 8px 0 8px 24px;
          li { list-style: circle; }
        }
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }


  &._Work {
    padding: 0 34px;
    blockquote {
      @include typo($default-font-size, $gray, 300);
      margin: 32px 0;
    }
  }
}

//-------------------------------
// Response
//-------------------------------

.Response {
  padding: 20px 0;
  li {
    padding: 8px 16px 0 0;
    float: left;
  }
}

iframe.twitter-count-horizontal {
  width: 80px!important;
}

//-------------------------------
// Profile
//-------------------------------

.Profile {
  .bio {
    @include size(340px, auto);
    float: left;
    h2 {
      @include typo_title;
      font-family: $serif;
      letter-spacing: 0.3em;
    }
    ul { padding: 16px 0; }
  }

  .social {
    @include size(150px, auto);
    float: right;
    a { margin: 0 8px; }
    .icon { width: 26px; }
  }
}

