
//-------------------------------
// Wrapper
//-------------------------------

.Wrapper {
  @include size(100%, auto);
  position: absolute;
  z-index: 1;
}

//-------------------------------
// Back Ground
//-------------------------------

.BG {
  @include size(100%);
  min-width: 1024px;
  height: 600px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

//-------------------------------
// Container
//-------------------------------

.Container {
  @include clearfix;
  @include size($default-view-width, auto);
  margin: 0 auto;

  > .inner {
    @include clearfix;
    @include size(768px, auto);
    margin: 0 auto;
    position: relative;
  }

  &._Content {
    padding: 100px 0;
    a { text-decoration: none; }
  }

  &._GlobalFooter {
    height: 40px;
    padding: 40px 0;
    a { text-decoration: none; }
  }
}

//-------------------------------
// GlobalHeader
//-------------------------------

.GlobalHeader {
  @include size(40px);
  @include pos(fixed, 20px, 20px);
}

//-------------------------------
// GlobalNav
//-------------------------------

.GlobalNav {
  @include size(auto);
  @include pos(fixed, 200px, -100px);
  transform: rotate(90deg);
}

//-------------------------------
// Profile
//-------------------------------

.Profile {
  @include space(0 36px, 600px 0 0 0);
}
