@charset "UTF-8";

//-------------------------------
// Settings
//-------------------------------

$img-path: '/static/img';
$theme-color: #369;
$default-view-width: 1024px;
$default-font-size: 14px;
$default-line-height: 1.75;

@import "../_components/zenigame/src/zenigame";


//-------------------------------
// Base
//-------------------------------

// リンク要素タップ時に色変更しない
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
// iOS でリンク長押ししてもポップアップメニューを出さない
* { -webkit-touch-callout: none; }
// input以外選択できないようにする
// :not(input){ -webkit-user-select: none; }
html, body {
  @include size(100%, auto, 100%, 100%);
  @include typo($default-font-size, $light-black, 300, $default-line-height);
  overflow: auto;
  text-transform: none;
  -webkit-text-size-adjust: 100%;
}

a {
  &:link { color: $blue; }
  &:visited { color: $blue; }
  &:hover { color: $dark-blue; }
  &:active { color: $dark-blue; }
}

//-------------------------------
// Layout
//-------------------------------

@import "layouts";

//-------------------------------
// Component
//-------------------------------

@import "components";
