extends ../_base

block content
  .Container._Content
    .inner

      .Profile
        .thumb
          img(src="/img/ideyuta.jpg", width="200")
        .bio
          h2.name 井出 優太
          ul
            li: p 1988　静岡県生まれ
            li: p 多摩美術大学大学院 情報デザイン領域 修了
          p 大学院修了後、フリーランスとしての活動を経て株式会社カンムに2人目のメンバーとして参加。サービス全体のデザインからフロントの開発までを行っている。
        ul.social
          li: a(href="https://twitter.com/_ideyuta") Twitter
          li: a(href="https://github.com/ideyuta") GitHub
          li: a(href="https://www.facebook.com/XA2007.055") Facebook
